.cypherPunkWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vw;

  .zk_back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .title {
    margin-top: 6.7vw;
    height: 8.125vw;
    z-index: 1;

    font-family: "Apex Mk3";
    font-style: normal;
    font-weight: 400;
    font-size: 6.77vw;
    line-height: 120%;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
    -webkit-text-stroke: 0.26vw #000000;
  }

  .content {
    display: flex;
    flex-direction: row;
    z-index: 1;

    .collection {
      .image1 {
        position: absolute;
        width: 25.1vw;
        height: 30.62vw;
        left: 11.87vw;
        top: 24.58vw;
        border-radius: 27px;
        object-fit: cover;
      }

      .image2 {
        position: absolute;
        width: 21.87vw;
        height: 37.06vw;
        left: 39.11vw;
        top: 35.93vw;

        border-radius: 27px;
        object-fit: cover;
      }

      .image3 {
        position: absolute;
        width: 25.1vw;
        height: 30.62vw;
        left: 11.98vw;
        top: 57.7vw;

        border-radius: 27px;
      }

      .image4 {
        position: absolute;
        width: 21.87vw;
        height: 19.06vw;
        left: 39.11vw;
        top: 57.81vw;

        border-radius: 27px;
      }

      .viewCollectionButton {
        position: absolute;
        width: 21vw;
        height: 3vw;
        left: 39.5vw;
        top: 29vw;
      }
    }

    .description {
      position: absolute;
      width: 20.62vw;
      height: 66.45vw;
      left: 66.4vw;
      top: 21.3vw;

      font-family: "NewYork";
      font-style: normal;
      font-weight: 400;
      font-size: 1.4vw;
      line-height: 120%;
      -webkit-text-stroke: 0.5px;

      @media (max-width: 576px) {
        -webkit-text-stroke: 0.25px;
      }

      color: #ffffff;
    }
  }
}
