@import "../../assets/scss/helpers/variables.scss";

.howToSectionWrapper {
  .category {
    position: absolute;
    width: 27.34vw;
    left: 3.8vw;
    top: 2.76vw;
    z-index: 6;

    li {
      color: white;
      font-family: "Anonymous Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 6.25vw;
      line-height: 100%;

      &.selectable {
        cursor: pointer;
        display: flex;
        justify-content: center;
        &:hover {
          background-color: white;
          color: $blue;
        }
      }

      &.selected {
        background-color: white;
        color: $blue;
      }
    }
  }

  .rect1 {
    position: absolute;
    width: 50.52vw;
    height: 26.56vw;
    left: 24.73vw;
    top: 16.56vw;

    background: radial-gradient(
        86.8% 314.01% at 90% 7.45%,
        #322ef9 0%,
        rgba(73, 69, 241, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.9;
    z-index: 4;
  }

  .rect2 {
    position: absolute;
    width: 55.57vw;
    height: 33.33vw;
    left: 23.17vw;
    top: 15vw;

    background: radial-gradient(
        86.8% 314.01% at 90% 7.45%,
        #4340f3 0%,
        rgba(73, 69, 241, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.9;
    z-index: 3;
  }

  .rect3 {
    position: absolute;
    width: 62.5vw;
    height: 35.41vw;
    left: 21.09vw;
    top: 8.75vw;

    background: radial-gradient(
        86.8% 314.01% at 90% 7.45%,
        #3531f5 0%,
        rgba(73, 69, 241, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.9;
    z-index: 2;
  }

  .rect4 {
    position: absolute;

    width: 67.7vw;
    height: 40.62vw;
    left: 24.73vw;
    top: 12.55vw;

    background: radial-gradient(
        86.8% 314.01% at 90% 7.45%,
        #231fd6 0%,
        rgba(73, 69, 241, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.9;
    z-index: 1;
  }

  .swiperWrapper {
    position: absolute;
    width: 92.65vw;
    height: 35.46vw;
    left: 3.69vw;
    top: 17.55vw;
    z-index: 5;
  }

  .buttonWrapper {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 53vw;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

    .container {
      width: 200px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 576px) {
        width: 100px;
      }

      button {
        transition: 0.3s all;
        &:hover {
          transition: 0.3s all;
          transform: scale(1.1);
        }

        @media (max-width: 576px) {
          width: 20px;
          height: 20px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
