@import '../../assets/scss/helpers/variables.scss';

.freedomSectionWrapper {
  .rect1 {
    position: absolute;
    width: 65.72vw;
    height: 40.05vw;
    left: 4.06vw;
    top: 14.79vw;
    
    background: radial-gradient(110.36% 320.33% at 0% 110.36%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.594) 100%)    
  }

  .rect2 {
    position: absolute;
    width: 65.72vw;
    height: 38.17vw;
    left: 1.97vw;
    top: 13.9vw;
    
    background: radial-gradient(100% 307.3% at 98.03% 15.27%, #000000 0%, rgba(0, 0, 0, 0.66) 100%)
  }

  .rect3 {
    position: absolute;
    width: 67.29vw;
    height: 41.25vw;
    left: 5.10vw;
    top: 15.98vw;

    background: radial-gradient(100% 307.3% at 98.03% 15.27%, #000000 0%, rgba(0, 0, 0, 0.66) 100%)
  }

  .freedom3DImage {
    position: absolute;
    width: 64.53vw;
    height: 36vw;
    left: 3.17vw;
    top: 17.5vw;
  }

  .title {
    position: absolute;
    width: 68.54vw;
    height: 16.04vw;
    left: 27.23vw;
    top: 17.13vw;
    
    font-family: 'Baumans';
    font-style: normal;
    font-weight: 400;
    font-size: 6.77vw;
    line-height: 118%;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;    
  }

  .description {
    position: absolute;
    width: 20.72vw;
    height: 28.54vw;
    left: 74.01vw;
    top: 47vw;
    
    font-family: 'Apple Chancery';
    font-style: italic;
    font-weight: 400;
    font-size: 1.66vw;
    line-height: 112%;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: #4E4AFF;
        
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #4E4AFF;

  }

  .imageInsert {
    position: absolute;
    width: 16.45vw;
    height: 15.15vw;
    left: 55.46vw;
    top: 74.94vw;

    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .imageFreedomFrame {
    position: absolute;
    width: 89.27vw;
    height: 61.71vw;
    left: 5.36vw;
    top: 100vw; 
  }

  .mouseImage {
    position: absolute;
    width: 12vw;
    height: 10vw;
    left: 20.78vw;
    top: 150.78vw;
  }

  .line1 {
    position: absolute;
    width: 100vw;
    height: 3.12vw;
    left: 20.83vw;
    top: 0;
    
    border-bottom: 0.156vw solid #4E4AFF;
    box-sizing: border-box;
    transform-origin: 0 0;
    
    transform: rotate(90deg);    
  }

  .circle1 {
    position: absolute;
    width: 25.57vw;
    height: 25.57vw;
    left: 4.74vw;
    top: 69.94vw;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.15vw solid #308AF3;
    // padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    .innerCircle {
      padding-left: 2%;
    }

    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .circle2 {
    position: absolute;
    width: 25.57vw;
    height: 25.57vw;
    left: 14.53vw;
    top: 69.94vw;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.15vw solid #308AF3;
    // padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    .innerCircle {
      // padding-left: 5%;
      position: relative;

      .imageInfluence {
        width: 100%;
        height: 100%;
        mix-blend-mode: hard-light;
        position: absolute;
      }
    }

    .text {
      position: absolute;
      padding-left: 20%;
      z-index: 1;
      display: flex;
      width: 100%;
      align-items: flex-start;
      
      font-family: 'Atkinson Hyperlegible';
      font-style: normal;
      font-weight: 400;
      font-size: 2.18vw;
      line-height: 123%;
      
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.05vw;

      color: #000000;
    }


    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .circle3 {
    position: absolute;
    width: 25.57vw;
    height: 25.57vw;
    left: 26vw;
    top: 69.94vw;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.15vw solid #308AF3;
    // padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    .innerCircle {
      justify-content: center;
    }


    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .innerCircle {
    width: 82%;
    height: 82%;
    position: relative;
    border-radius: 50%;
    background: #FFFFFF;
    border: 0.15vw solid #308AF3;

    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 2.18vw;
    line-height: 123%;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05vw;

    color: #000000;
  }

  .subText {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 100%;
        
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3.5%;
    
    color: #000000;
    
  }

  .text1 {
    position: absolute;
    left: 8.54vw;
    top: 128.48vw;
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 500;
    font-size: 2.34vw;
    line-height: 3.17vw;
    
    display: flex;
    align-items: center;
    
    color: $blue;    
  }

  .text2 {
    position: absolute;
    width: 24.16vw;
    height: 4.94vw;
    left: 8.59vw;
    top: 132.39vw;
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 0.88vw;
    line-height: 112%;
    
    display: flex;
    align-items: center;
    
    color: $blue;
  }

  .text3 {
    position: absolute;
    width: 23.43vw;
    height: 6.35vw;
    left: 8.59vw;
    top: 147.08vw;
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 500;
    font-size: 2.34vw;
    line-height: 3.17vw;
    display: flex;
    align-items: center;
    
    color: $blue;
    
  }

  .text4 {
    position: absolute;
    width: 23.43vw;
    height: 8.43vw;
    left: 38.54vw;
    top: 111.56vw;
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 300;
    
    font-size: 3.12vw;
    line-height: 4.21vw;
    display: flex;
    align-items: center;
    
    color: $blue;
  }

  .text5 {
    position: absolute;
    width: 23.43vw;
    height: 14.16vw;
    left: 38.54vw;
    top: 132.91vw;

    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 300;
    font-size: 2.6vw;
    line-height: 3.54vw;

    display: flex;
    align-items: center;
    
    color: $blue;
  }

  .text6 {
    position: absolute;
    width: 23.43vw;
    height: 9.16vw;
    left: 38.54vw;
    top: 149.11vw;
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 300;
    font-size: 3.38vw;
    line-height: 4.58vw;
    display: flex;
    align-items: center;
    
    color: $blue;
  }

  .text7 {
    position: absolute;
    width: 23.43vw;
    height: 3.17vw;
    left: 67.96vw;
    top: 147.08vw;
    font-family: 'LEMON MILK';
    font-style: normal;
    font-weight: 500;

    font-size: 2.34vw;
    line-height: 3.17vw;
        
    display: flex;
    align-items: center;
    
    color: $blue;
  }

  .text8 {
    position: absolute;
    width: 24.16vw;
    height: 4.94vw;
    left: 67.96vw;
    top: 150.78vw;
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    
    font-size: 0.88vw;
    line-height: 112%;
    
    display: flex;
    align-items: center;
    
    color: $blue;
  }

  .buttonView {
    left: 8.59vw;
    top: 139.48vw;
  }

  .buttonSubscribe {
    left: 8.59vw;
    top: 155.2vw;
  }

  .buttonLibrary {
    left: 38.54vw;
    top: 122.4vw;
  }

  .buttonCreate {
    left: 38.54vw;
    top: 141.3vw;
  }

  .buttonRead {
    left: 67.96vw;
    top: 157.5vw;
  }

  .arrowDown {
    position: absolute;
    z-index: 4;
    left: 16.7vw;
    top: 99.04vw;
    // width: 0; 
    // height: 0; 
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    
    border-top: 1vw solid $blue;
  }
  
}