
.patronWrapper {
  display: flex;

  .title {
    position: absolute;    
    width: 56.82vw;
    height: 20.31vw;
    left: 39.63vw;
    top: 15.99vw;

    font-family: 'Arima Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 6.77vw;
    line-height: 100%;

    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
  }

  .introWrapper {
    // position: absolute;
    width: 29.27vw;
    // height: 65.73vw;
    margin-left: 2.44vw;
    margin-top: 13.49vw;
    margin-bottom: 6vw;
    padding: 1vw;

    color: #00229d;

    a {
      color: #00229d;
      text-decoration: underline;
    }

    .introDesc {
      margin-top: 10px;
    }

    .introTitle {
      margin-top: 40px;
      font-size: 1.4vw;
    }

    .achieveItems {
      margin-top: 40px;
    }

    .introDesc2 {
      margin-top: 40px;
    }
  }

  .paletteWrapper {
    position: absolute;
    width: 62.5vw;
    left: 34vw;
    bottom: 6vw;
    // top: 45vw;
    color: #00229d;
  }
}