.patronWrapper {
  display: flex;
  padding-top: 13.49vw;
  padding-left: 2.44vw;
  padding-right: 2.44vw;
  padding-bottom: 6vw;

  @media (max-width: 786px) {
    flex-direction: column;

    .introWrapper,
    .paletteWrapper {
      width: unset !important;
    }
  }

  .title {
    font-family: "Arima Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 6.77vw;
    line-height: 100%;

    text-align: right;
    color: #ffffff;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.3);
  }

  .introWrapper {
    // position: absolute;
    width: 29.27vw;
    padding: 1vw;

    @media (max-width: 786px) {
      margin-bottom: 1rem;
    }

    color: #00229d;

    a {
      color: #00229d;
      text-decoration: underline;
    }

    .introDesc {
      margin-top: 10px;
    }

    .introTitle {
      margin-top: 40px;
      font-size: 1.4vw;

      @media (max-width: 786px) {
        margin-top: 20px;
        font-size: 2vw;
      }
    }

    .achieveItems {
      margin-top: 40px;

      @media (max-width: 786px) {
        margin-top: 20px;
      }
    }

    .introDesc2 {
      margin-top: 40px;
    }
  }

  .paletteWrapper {
    width: 62.5vw;
    color: #00229d;
  }
}
