.hyperUtilityWrapper {

  .smallTitle {
    width: 100%;
    text-align: center;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.04vw;
    line-height: 100%;
    text-align: center;
    margin-top: 10vw;
    
    color: #000000;
  }

  .title {
    width: 100%;
    font-family: 'Atmosphere';
    font-size: 9.37vw;
    line-height: 1.04vw;
    text-align: center;
    height: fit-content;
    margin-top: 8vw;
  }
}