@import '../../assets/scss/helpers/variables.scss';

.guideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vw;
  background-color: $blue;

  .title {
    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 5.2vw;
    line-height: 122%;
    margin-top: 3.7vw;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    -webkit-text-stroke: 2px #FFFFFF;
  }  
}